
.inputs{
    text-align: start;
   

}


.labels{
    width: 80%;
}

.input-text{
    margin-top: 0;
    margin-bottom: 1rem;
}

#accept{
    font-size: .825rem;
    margin: 0;
    width: 80%;
    text-align: center;
    color: rgb(109, 109, 109);
}

